body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    display: flex;
    padding: 10px 50px ;
    justify-content: space-between;
    align-items:center ;
}

#logo {
    width: 100px;
}

nav{
    display:flex;
    gap: 20px;
}
.nav-link{
    color: white;
    text-decoration:none ;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

#events {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.event-cards{
    text-align: center;
    box-shadow: 0 6px 8px rgba(0,0,0,0.1);
    padding: 5% 2%;
    border-radius: 10px;
    width: 20%;
}

.btn-details{
    background-color: black;
    padding: 10px 50px ;
    border-radius: 5px;
    border: 1px;
    color: white;
    text-decoration: none;
}
footer{
    
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* =================================================================*/

#event-details{
    max-width: 600px;
    box-shadow: 0 6px 30px rgba(0,0,0,0.2);
    text-align: center;
    padding: 40px;
    margin: 20px auto;
    
}

label{
    text-align: left;
}